@import '../../../scss/variables';

$beer-style-size: 24px;
$beer-photo-size: 150px;

.common {
    text-align: center;
}

.style {
    font-family: $vitesse-font-family;
    font-size: $beer-style-size;
    text-transform: uppercase;
}

.description {
    margin: 1em 0;
    text-align: left;
}

.photo {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 100%;
    display: flex;
    height: $beer-photo-size;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
    width: $beer-photo-size;

    img {
        max-height: 100%;
    }
}
