@import '../../../scss/variables';

.common {
    background: $primary-color;
    color: #fff;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.item {
    color: #fff;
    display: block;
    padding: 1em;
    text-decoration: none;
    transition: background-color .2s $animation-curve-default;
}

.active {
    background: lighten($primary-color, 5%);
}
