@import 'variables';
@import 'fonts';

* {
    box-sizing: border-box;
}

html,
body {
    background: #f1f1f1;
    font-family: $source-sans-pro-font-family;
    font-size: $base-font-size;
    line-height: 1.5;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 800px;
}

.title {
    font-family: $jockey-font-family;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}
