@import 'variables';
@import 'fonts';

html {
    background: #fcfbf7;
    font-family: $source-sans-pro-font-family;
    font-size: $base-font-size;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.title {
    font-family: $jockey-font-family;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}
