@import '../../../scss/variables';

.common {
    border-bottom: 1px solid #ddd;
    color: $text-color;
    display: flex;
    flex-direction: row;
    padding: 1em 0;

    a {
        color: currentColor;
        text-decoration: none;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.actions {}

.title {}

.subtitle {
    color: lighten($text-color, 10%);
    font-size: 14px;
}
