@import '../../../scss/variables';

.common {
    font-family: $jockey-font-family;
    font-size: 62px;
    font-weight: 500;
    margin: .5em 0 0;
    text-align: center;
    text-transform: uppercase;
}
