@import '../../../scss/variables';

.common {
    background: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: $base-font-size;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
}

.large {
    composes: common;

    font-size: $base-font-size * 1.5;
    font-weight: 700;
    display: block;
    padding: 1em;
    width: 100%;
}
